:root {
    --primary: #0d0d0d;
    --secondary: rgb(36, 36, 36);
    --tertiary: #3700B3;
    --accent: #C4D977;
    --accent-secondary: #03dac6;
    --txt: #fff;
    --txt-secondary: rgba(255, 255, 255, 0.7);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: var(--txt);
}

body {
    display: flex;
    background-color: var(--primary);
    padding: 0.5rem;
    height: 100vh;
    gap: 0.5rem;
}

/* Sidebar */

aside {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #242424;
    min-width: 275px;
    max-width: 400px;
    padding: 1rem;
    border-radius: 0.5rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    i {
        color: var(--accent-secondary);
    }
}

.icon-dashboard {
    font-size: 2rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-link {
    padding: 0.5rem 0.25rem;
}

.add,
.button-container button,
.delete-button {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add:hover,
.button-container button:hover {
    background-color: var(--primary);
    transform: scale(1.2);
    i {
        color: var(--accent-secondary);
    }
}

.my-projects {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

aside ul,
nav {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.title-container,
li {
    display: flex;
    align-items: center;
}

.title-container {
    justify-content: space-between;
}

li {
    display: flex;
    gap: 0.75rem;
    cursor: pointer;
    padding: 0 0.25rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

li:hover {
    background-color: var(--primary);
    .project-icon {
        color: var(--accent-secondary);
    }
}

.active-project {
    font-weight: 700;
    .project-icon {
        color: var(--accent-secondary);
    }
}

/* form */

aside form {
    display: flex;
    width: 100%;
}

.new-project,
#new-item {
    background: transparent;
    border: none;
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    outline: none;
    transition: border 0.3s ease-in;
    order: 2;
}

#new-item {
    margin-top: 0.5rem;
    min-width: 250px;
}

.new-project {
    margin: 0.5rem 0;
    width: 100%;
}

.new-project:focus,
#new-item:focus {
    border: 1px solid var(--accent-secondary);
}

.cancel-checklist-btn {
    background-color: var(--primary);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    order: 2;
    margin-left: 0.5rem;
    transition: all 0.3s ease;
}

.cancel-checklist-btn:hover {
    transform: scale(1.1);
    color: var(--accent-secondary);
    font-weight: 900;
}

/* home styling */
.overview-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border-radius: 0.5rem;
    background-color: var(--secondary);
    padding: 1rem;
}

.overview-title {
    align-self: flex-start;
}

.home-title {
    margin-top: 1.5rem;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: auto;
    width: 100%;
    margin-top: 1rem;
}

.statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    gap: 1rem;
    aspect-ratio: 1;
    border-radius: 0.5rem;
}

.icon-token {
    color: var(--accent-secondary);
    font-size: 4rem;
}

.all-tasks {
    display: flex;
    flex-direction: column;
}

.home-title {
    padding: 1rem 0.5rem;
}

.cardHome-footer {
    margin-top: auto;
}

/* main styling */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
} 

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.5rem;
    background-color: var(--secondary);
    padding: 1rem;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.add-task-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-weight: bold;
    gap: 0.5rem;
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-task-btn:hover {
    background-color: var(--primary);
    transform: scale(1.05);
    i {
        color: var(--accent-secondary);
    }
}

.delete-button {
    margin-left: auto;
    background: none;
}

.delete-button:hover {
    transform: scale(1.2);
    i {
        color: var(--accent-secondary);
    }
}

.project-info p {
    color: var(--txt-secondary);
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 0.5rem;
    margin-top: 0.5rem;
    max-height: 100vh;
    overflow-y: auto;
}

/* Scrollbar container */
.task-grid::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    display: none;
}

/* Scrollbar track */
.task-grid::-webkit-scrollbar-track {
    background: none; 
    border-radius: 10px;
    display: none;
}

/* Scrollbar thumb */
.task-grid::-webkit-scrollbar-thumb {
    background-color: var(--secondary); 
    border-radius: 10px; 
    transition: all 0.3s ease;
    display: none;
}

/* Scrollbar thumb on hover */
.task-grid::-webkit-scrollbar-thumb:hover {
    background-color: rgba(54, 54, 54, 0.8); 
}

/* Optional: Scrollbar corner (when both horizontal and vertical scrollbars are present) */
.task-grid::-webkit-scrollbar-corner {
    background: var(--primary);
}

/* task cards */
.task-card {
    background-color: #222222;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.due-date {
    color: var(--txt-secondary);
    font-size: 1rem;
    font-weight: 500;
}

.priority {
    color: orange;
}

.checklist {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.checklist-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* task buttons */
.button-container {
    display: flex;
    gap: 0.5rem;
    flex-grow: 1;
    align-self: flex-end;
    margin-top: auto;
    justify-content: flex-end;
}

/* Custom checkbox styles */
.checklist input[type="checkbox"] {
    display: none;
}

.checklist label {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    width: fit-content;
}

.custom-checkbox {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--accent-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.custom-checkbox::after {
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: var(--accent-secondary);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.list-item:hover .custom-checkbox,
[type='checkbox']:hover + label .custom-checkbox {
    transform: scale(1.2);
    border-color: var(--accent-secondary);
}

.checklist input[type="checkbox"]:checked + label .custom-checkbox::after {
    transform: scale(1);
}

[type='checkbox']:checked + label {
    opacity: 0.5;
    text-decoration: line-through;
}

.delete-item-btn {
    font-size: 2rem;
    cursor: pointer;
    background: none;
    color: #fff;
    margin-left: auto;
    border: none;
    transition: all 0.3s ease;
    line-height: 0.9;
}

.delete-item-btn:hover {
    transform: scale(1.2);
    color: var(--accent-secondary);
}


.list-item {
    display: flex;
    align-items: center;
    padding: 0;
}

/* dialog styling */
dialog { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    margin: auto;
    padding: 0;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/* Modal content */
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    padding: 20px;
    border: 1px solid #888;
    border-radius: 0.5rem;
    width: 350px;
}

/* modal form styling*/
#taskForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#taskForm label {
    font-size: 1rem;
    color: var(--txt-secondary);
}

#taskForm option {
    background-color: var(--primary);
}


#taskForm input,
#taskForm textarea,
#taskForm select {
    border: none;
    border-radius: 0.55rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    color: var(--txt);
    outline: none;
    transition: border 0.3s ease-in;
    font-size: 1rem;
}

#taskForm input:focus,
#taskForm textarea:focus,
#taskForm select:focus {
    border: 1px solid var(--accent-secondary);
}

#taskForm textarea {
    resize: none;
    min-height: 80px;
}

#taskForm button {
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    color: var(--txt);
    font-weight: bold;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#taskForm button:hover {
    color: var(--accent-secondary);
    transform: scale(1.05);
}

/* The close button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 2.5rem;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: var(--accent-secondary);
    text-decoration: none;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: var(--accent-secondary);
    border-radius: 0.25rem;
    cursor: pointer;
}

menu {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

menu button {
    background-color: var(--primary);
    border: 1px solid var(--accent-secondary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

menu button:hover {
    background-color: var(--accent-secondary);
    color: var(--primary);
}