:root {
    --primary: #0d0d0d;
    --secondary: #242424;
    --tertiary: #3700B3;
    --accent: #C4D977;
    --accent-secondary: #03dac6;
    --txt: #fff;
    --txt-secondary: rgba(255, 255, 255, 0.7);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: var(--txt);
}

body {
    display: flex;
    background-color: var(--primary);
    padding: 1rem;
    height: 100vh;
    gap: 1rem;
}

/* Sidebar */

aside {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #242424;
    min-width: 275px;
    max-width: 400px;
    padding: 1rem;
    border-radius: 1rem;
}

.add,
.button-container button,
.delete-button {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add:hover,
.button-container button:hover {
    background-color: var(--primary);
    transform: scale(1.2);
    i {
        color: var(--accent-secondary);
    }
}

.my-projects {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title-container,
li {
    display: flex;
    align-items: center;
}

.title-container {
    justify-content: space-between;
}

li {
    display: flex;
    gap: 0.75rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

li:hover {
    background-color: var(--primary);
    .project-icon {
        color: var(--accent-secondary);
    }
}

.active-project {
    font-weight: 700;
    .project-icon {
        color: var(--accent-secondary);
    }
}

/* form */

aside form {
    display: flex;
    width: 100%;
}

.new-project,
.new-item {
    background: transparent;
    border: none;
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    outline: none;
    transition: border 0.3s ease-in;
    order: 2;
}

.new-item {
    margin-top: 0.5rem;
    min-width: 250px;
}

.new-project {
    margin: 0.5rem 0;
    width: 100%;
}

.new-project:focus,
.new-item:focus {
    border: 1px solid var(--accent-secondary);
}

/* main styling */
main {

    display: flex;
    flex-direction: column;
    width: 100%;
} 

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
    border-radius: 1rem;
    background-color: var(--secondary);
    padding: 1rem;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.project-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-weight: bold;
    gap: 0.5rem;
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.project-button:hover {
    background-color: var(--primary);
    transform: scale(1.1);
    i {
        color: var(--accent-secondary);
    }
}

.delete-button {
    margin-left: auto;
    background: var(--secondary);
}

.delete-button:hover {
    background: var(--secondary);
    i {
        color: var(--accent-secondary);
    }
}

.project-info p {
    color: var(--txt-secondary);
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
}

/* task cards */
.task-card {
    background-color: #222222;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left {
    display: flex;
    justify-content: space-between;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.due-date {
    color: var(--txt-secondary);
}

.priority {
    color: orange;
}

.checklist {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;

}

/* task buttons */
.button-container {
    display: flex;
    gap: 0.5rem;
    align-self: flex-end;
    margin-top: auto;
}

/* Custom checkbox styles */
.checklist input[type="checkbox"] {
    display: none;
}

.checklist label {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    width: fit-content;
}

.custom-checkbox {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--accent-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.custom-checkbox::after {
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: var(--accent-secondary);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.list-item:hover .custom-checkbox,
[type='checkbox']:hover + label .custom-checkbox {
    transform: scale(1.2);
    border-color: var(--accent-secondary);
}

.checklist input[type="checkbox"]:checked + label .custom-checkbox::after {
    transform: scale(1);
}

[type='checkbox']:checked + label {
    opacity: 0.5;
    text-decoration: line-through;
}